coverage/

/node_modules/
/lib/
custom-elements.json

.idea
dist

docs/

*.pem
/test.html
.env

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.npmrc

coverage/*
!coverage/badge-branches.svg
!coverage/badge-functions.svg
!coverage/badge-lines.svg
!coverage/badge-statements.svg
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
